

.payInfo-box{
    color: #656565;
    width: 1018px;
    margin: 2% auto;
    background: rgba(255,255,255,0.9);
    text-align: center;
    height: 324px;
    padding: 100px 0;
    position: absolute;
    top: 125px;
    left: 130px;
}







