
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html >
<head>
    <title>错误页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="../css/global/header.css">
    <link rel="stylesheet" href="../css/error.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
        }
        body {
            position: relative;
            height: 720px;
            width: 1280px;
            margin: 0 auto;
            background: url("../img/back.png") no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body >

<div class="content">
    <img style="position: absolute ; left: 130px; top: 63px;  width: 65px;height: 50px; " src="../img/logo.png" alt="">
    <img style="position: absolute ; left: 204px; top: 60px;  width: 100px;height: 35px;"
         src="../img/indexImg/yiShangCheng.png" alt="">
    <p style="position: absolute;left: 204px; top: 92px; height:30px;line-height: 30px;width: 248px;color: white">
        客服电话：12345678</p>

    <div class="payInfo-box"><!--提示错误信息-->
        <img src="../img/error.png" alt="">
    </div>
</div>

<script src="../js/error.js"></script>
</body>
</html>