<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>翼支付合作商户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="../../css/global/alert.css">
    <link rel="stylesheet" href="../../css/bestpay_partner.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
        }
        body {
            position: relative;
            height: 720px;
            width: 1280px;
            margin: 0 auto;
            background: url("../../img/back.png") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="content">
    <!--头部-->
    <div class="header">
        <img style="position: absolute ; left: 130px; top: 63px;   width: 65px; height: 50px; " src="../../img/logo.png" alt="">
        <img style="position: absolute ; left: 204px; top: 60px;  width: 100px;height: 35px;"
             src="../../img/indexImg/yiShangCheng.png" alt="">
        <p class="title"  style="position: absolute ; left: 395px; top:82px;  width: 200px;height: 35px; color: white;font-size: 26px;letter-spacing: 1px">翼支付合作商户</p>
        <p style="position: absolute;left: 204px; top: 92px; height:30px;line-height: 30px;width: 248px;color: white">
            客服电话：12345678</p>

        <img class="menu-item" src="../../img/user.png" style="position: absolute;right: 130px; top: 68px;  width: 55px;height: 50px;"
             alt="">
    </div>
    <!--内容区-->

    <div class="partnerBox">
        <!--标题-->
       <p class="title">翼支付合作商户</p>

        <!--商家合作列表-->
        <div id="partnerList">
           <ul>
               <!--第一行-->
               <li class="liList" style="left: 0;top: 0;">
                  <!-- <img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->

               </li>
               <li class="liList" style="left: 492px;top: 0;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>

               <!--第二行-->
               <li class="liList" style="left: 0;top: 80px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>
               <li class="liList" style="left: 492px;top: 80px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>

               <!--第三行-->
               <li class="liList" style="left: 0;top: 160px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>
               <li class="liList" style="left: 492px;top: 160px;">
                  <!-- <img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>

               <!--第四行-->
               <li class="liList" style="left: 0;top: 240px;">
                  <!-- <img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>
               <li class="liList" style="left: 492px;top: 240px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>

               <!--第五行-->
               <li class="liList" style="left: 0;top: 320px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>
               <li class="liList" style="left: 492px;top: 320px;">
                   <!--<img class="showImg" src="../../img/bestpay-img/renRenLe.png" alt="">
                   <div class="textInfo">&lt;!&ndash;文本介绍&ndash;&gt;
                       <p class="supName">
                           <img src="../../img/bestpay-img/supermarket.png" alt="">
                           <span class="name">乐嘉超惠超市</span>
                       </p>
                       <p class="introduction">
                           <span class="desInfo">超市超市商城</span>
                           <span class="time">9:00&#45;&#45;21:00 </span>
                       </p>
                       <p class="supAddress">
                           <span class="addressInfo">西安市碑林区鼓楼大街</span>
                           <img src="../../img/bestpay-img/address.png" alt="">
                       </p>
                   </div>-->
               </li>
           </ul>
        </div>

        <!--底部上下页按钮-->
       <div class="footBtn">
           <span class="menu-item"  id="btnUp">上一页</span>
           <span class="menu-item" id="btnDown">下一页</span>
       </div>
    </div>


</div>
<!--弹出框-->
<div id="alertModal"  class="alertModal" style="display: none">
    <div class="alert-modal-content">
        <div class="detailInfo">
        </div>
    </div>
</div>
<script src="../../js/public/Util.js"></script>
<script src="../../js/bestpay_partner.js"></script>
</body>
</html>