<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>翼支付</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <!--<link rel="stylesheet" href="../../css/global/alert.css">-->
    <link rel="stylesheet" href="../../css/bestpay.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
        }
        body {
            position: relative;
            height: 720px;
            width: 1280px;
            margin: 0 auto;
            background: url("../../img/back.png") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="content">
    <!--头部-->
    <div class="header">
        <img style="position: absolute ; left: 130px; top: 63px;   width: 65px; height: 50px; " src="../../img/logo.png" alt="">
        <img style="position: absolute ; left: 204px; top: 60px;  width: 100px;height: 35px;"
             src="../../img/indexImg/yiShangCheng.png" alt="">
        <p class="title"  style="position: absolute ; left: 395px; top:82px;  width: 110px;height: 35px; color: white;font-size: 26px">翼支付</p>
        <p style="position: absolute;left: 204px; top: 92px; height:30px;line-height: 30px;width: 248px;color: white">
            客服电话：12345678</p>

        <img class="menu-item" src="../../img/user.png" style="position: absolute;right: 130px; top: 68px;  width: 55px;height: 50px;"
             alt="">
    </div>
    <!--内容区-->

    <!--上半部分-->
    <div class="contentUp">

        <img class="introduce" src="../../img/bestpay-img/introduce.png" alt="">

        <div class="modules">
            <p style="top: 35px;left: 10px;">
                <img src="../../img/bestpay-img/changAnTong.png" alt="">
                <span>长安通</span>
            </p>
            <p style="top: 35px;left: 75px;">
                <img src="../../img/bestpay-img/huoChePiao.png" alt="">
                <span>火车票</span>
            </p>
            <p style="top: 35px;left: 140px;">
                <img src="../../img/bestpay-img/jiaYouZhan.png" alt="">
                <span>加油</span>
            </p>
            <p style="top: 35px;left: 205px;">
                <img src="../../img/bestpay-img/shuiDianFei.png" alt="">
                <span>水电费</span>
            </p>
            <p style="top: 35px;left: 270px;">
                <img src="../../img/bestpay-img/ranQiFei.png" alt="">
                <span>燃气费</span>
            </p>
            <p class="lastImg" style="top: 35px;left: 335px;">
                <img src="../../img/bestpay-img/dianShiFei.png" alt="">
                <span>电视费</span>
            </p>
            <div class="textDes">
               办理翼支付合约,可按月返还“翼支付金”,代替其他合约的话费返还,且享受全额通信费发票,每月返还的“翼支付金”可由用户自由掌握消费。
            </div>
        </div>

        <div class="QRcode">
            <img src="../../img/bestpay-img/QRcode.png" alt="">
            <div class="textTip">
               <p>扫描二维码</p>
               <p>下载翼支付客户端</p>
            </div>
        </div>
    </div>

    <!--下半部分-->
    <div class="contentDown">
        <p class="name">翼支付合作商户</p>
        <div class="partners">
            <img src="../../img/bestpay-img/yongHui.png" alt="">
            <img src="../../img/bestpay-img/renRenLe.png" alt="">
            <img src="../../img/bestpay-img/baiSheng.png" alt="">
            <img src="../../img/bestpay-img/huaRun.png" alt="">
            <img src="../../img/bestpay-img/woErMa.png" alt="">

            <div class="menu-item" id="watch-more">
                 <p>查&nbsp;看</p>
                 <p>更&nbsp;多</p>
            </div>
        </div>
    </div>
</div>
<!--弹出框-->
<div id="alertModal"  class="alertModal" style="display: none">
    <div class="alert-modal-content">
        <div class="detailInfo">
        </div>
    </div>
</div>
<script src="../../js/public/Util.js"></script>
<script src="../../js/bestpay.js"></script>
</body>
</html>