<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>高清扶贫首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="../../css/global/alert.css">
    <link rel="stylesheet" href="../../css/fuPin.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        ul {
            list-style: none;
        }
        body {
            position: relative;
            height: 720px;
            width: 1280px;
            margin: 0 auto;
            background: url("../../img/back.png") no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body>

<div class="content">
    <!--头部-->
    <div class="header">
        <img style="position: absolute ; left: 130px; top: 63px;  width: 65px;height: 50px; " src="../../img/logo.png" alt="">
        <img style="position: absolute ; left: 204px; top: 60px;  width: 100px;height: 35px;"
             src="../../img/indexImg/yiShangCheng.png" alt="">
        <p class="title"  style="position: absolute ; left: 395px; top:82px;  width: 110px;height: 35px; color: white;font-size: 26px">扶贫栏目</p>
        <p style="position: absolute;left: 204px; top: 92px; height:30px;line-height: 30px;width: 248px;color: white">
            客服电话：12345678</p>
        <marquee
                style="position: absolute;right: 200px; top: 85px; width: 245px; height: 32px;line-height: 34px ;color: white"
                scrollamount="3" direction="left">
            火热促销中，全场商品9折起！
        </marquee>
        <img class="menu-item" src="../../img/user.png" style="position: absolute;right: 130px; top: 68px;  width: 55px;height: 50px;" alt="">
    </div>

    <!--菜单按钮-->
    <div class="menu-list">
        <img class="menu-item" src="../../img/fuPin-img/index.png"
             style="position: absolute;left: 130px; top: 140px; display: block; width: 210px;height: 80px;" alt="">
        <img class="menu-item  biodome-menu" src="../../img/fuPin-img/changAn.png"
             style="position: absolute;left: 130px; top: 256px; display: block; width: 210px;height: 80px;" alt="">
        <img class="menu-item  biodome-menu" src="../../img/fuPin-img/baoJi.png"
             style="position: absolute;left: 130px; top: 371px; display: block; width: 210px;height: 80px;" alt="">
        <img class="menu-item  biodome-menu" src="../../img/fuPin-img/huXian.png"
             style="position: absolute;left: 130px; top: 486px; display: block;width: 210px;height: 80px;" alt="">
        <img class="menu-item  biodome-menu" src="../../img/fuPin-img/anKang.png"
             style="position: absolute;left: 130px; top: 599px; display: block; width: 210px;height: 80px;" alt="">
    </div>

    <!--推荐位-->
    <div class="Featured">
        <!--特惠首页-->
        <div class="index" style="display: inline-block">
            <!--视频位-->
            <div class="menu-item" style="position: absolute;left: 352px; top: 140px; height: 310px;width:636px " id="plyIfrBox1">
               <!-- <iframe id="plyIfr" name="plyIfr" style="position: absolute" src="" width="636" height="310"
                        scrolling="no" frameborder="0"></iframe>-->

                <img class="img-item " style="position: absolute ;display: block; width: 636px;height: 310px" id="bigImg"
                     src="" alt="">
            </div>

            <!--右部图片-->
            <img class="rightTwoImg menu-item" style="position: absolute;left: 997px; top: 140px; width:152px; height: 151px" src="" alt="">
            <img class="rightTwoImg menu-item" style="position: absolute;left: 997px; top: 299px; width:152px; height: 151px" src="" alt="">

            <!--底部大图-->
            <img class="footTwoImg menu-item" style="position: absolute;left: 352px; top: 459px; width:395px; height: 220px" src="" alt="">
            <img class="footTwoImg menu-item" style="position: absolute;left: 756px; top: 459px; width:395px; height: 220px"  src="" alt="">

        </div>

        <!--生态馆部分-->
        <div class="another" style="display: none" >
            <div class="biodome-info"><!--生态馆信息上半部分-->
                <div class="biodome-headerImg">
                    <img id="biodomeHeaderImg" src="../../img/noProduct.png" alt="">
                </div>
                <div class="biodome-describe">
                    <p id="biodomeName" class="biodome-name"></p>
                    <p id="describeInfo"></p>
                </div>
                <div class="tabs">
                    <img class=" biodome-tab menu-item" src="" alt="">
                    <img class=" goods-tab menu-item" src="../../img/fuPin-img/shengTaiPro.png" alt="">
                </div>
            </div>

            <!--生态馆下半部分-->
            <div class="goods-container">
                <div style="display: block" class="biodome-des-box" ><!--生态简介区-->
                    <div class="left-smallImg-show common">
                        <img style="left: 0;top: 0;" class="item menu-item  biodomeInfoImg" src="../../img/noProduct.png"
                             alt="">
                        <img style="left: 0;top: 91px;" class="item menu-item  biodomeInfoImg" src="../../img/noProduct.png"
                             alt="">
                        <img style="left: 0;top:  182px;" class="item menu-item  biodomeInfoImg" src="../../img/noProduct.png"
                             alt="">
                        <img style="left: 0;top:273px;" class="item menu-item  biodomeInfoImg" src="../../img/noProduct.png"
                             alt="">
                    </div>
                    <div class="menu-item right-bigImg-show" id="videoOrImg" style="position: absolute; left:  180px;top: 0; width: 614px;height: 353px">
                    <!--    <iframe id="plyIfrTwo" name="plyIfr" style="position: absolute; left:  0;top: 0;" src=""
                                width="614px" height="353px" scrolling="no" frameborder="0"></iframe>-->
                        <img class="bigImg sellerInfoImg" id="bigImgTwo" style="display: none; position: absolute;left: 0;top:0; width: 614px;height: 353px" src="../../img/noProduct.png" alt="">
                    </div>
                </div>

                <!--生态产品区-->
                <div class="product-list" style="display: none" ><!--商品列表区-->

                    <img style="left: 0; top: 0;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 203px; top: 0;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 404px; top: 0;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 606px; top: 0;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">


                    <img style="left: 0;  top: 182px;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 203px; top: 182px;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 404px; top: 182px;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">
                    <img style="left: 606px; top: 182px;" class="item menu-item  productListImg" src="../../img/noProduct.png" alt="">

                </div>
            </div>
        </div>
    </div>
</div>



<!--弹出框-->
<div id="alertModal"  class="alertModal" style="display: none">
    <div class="alert-modal-content">
        <div class="detailInfo">

        </div>
    </div>
</div>

<script src="../../js/public/Util.js"></script>
<script src="../../js/public/video.js"></script>
<script src="../../js/fuPin.js"></script>
</body>
</html>