
/*position布局*/

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.content{
    padding: 20px 60px 40px 60px;
}
/*头部样式*/
.header{

    position: relative;
    height: 10%;

}
.header .logo{
    position: absolute;
    left: 0;
}
.header .logo img{
    width: 178px;
    height:65px;
}
.header .go-back{
    position: absolute;
    right: 0;
    text-align: center;
    color: white;
    background-color: #169bd5;
    width: 180px;
    line-height: 50px;
    height: 50px;
    margin-top: 8px;
    border-radius: 5px;
}

/*菜单列表样式*/
.menu-box {
    /*margin-top: 30px;*/
}
.menu-box .menu-list {
    color: white;
    font-size: 20px;
    list-style: none;
    position: relative;
    height: 9%;
    /* display: -webkit-box; !* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. *!
     display: -moz-box; !* 老版本语法: Firefox (buggy) *!
     display: -ms-flexbox; !* 混合版本语法: IE 10 *!
     display: -webkit-flex; !* 新版本语法: Chrome 21+ *!
     display: flex; !* 新版本语法: Opera 12.1, Firefox 22+ *!
     flex-direction: row;
     justify-content: space-between;*/
}
.menu-box .menu-list li{
    position: absolute;
    text-align: center;
    background-color: #169bd5;
    width: 18%;
    line-height: 50px;
    height: 50px;
    border-radius: 5px;
}
.menu-box .menu-list li:nth-child(1){
    left: 0;
}
.menu-box .menu-list li:nth-child(2){
    left: 26.5%;
}
.menu-box .menu-list li:nth-child(3){
    left: 53%;
}


/*商品列表*/

.product-list{

}
.product-list ul{
    width: 100%;
    list-style: none;
    overflow: auto;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list ul li{
    width: 18%;
}
.product-list ul li:last-child{
    margin-right: 0;
}
.product-list ul li img{
     width: 100%;
}




/*底部样式*/

.footer{

    overflow: auto;
}
.footer .pages-number{
    float: right;

}
.footer .pages-number .previous-page,.footer .pages-number .current-page,.footer .pages-number .next-page{

    display: inline-block;
    font-size: 20px;
}
.footer .pages-number .previous-page,.footer .pages-number .next-page{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color:#169bd5 ;
}



