
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误页</title>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="page-view-size" content="1280*720">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-store,no-cache,must-revalidate">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="../css/global/header.css">
    <link rel="stylesheet" href="../css/error.css">
</head>
<body >

<div class="content">
    <div class="header">
        <div class="logo">
            <img  src="../img/index-img/logo.png" alt="">
        </div>
        <div class="title">
            <img src="../img/index-img/yiShangCheng.png" alt="">
            <!--<span>订单支付</span>-->
        </div>
        <div class="go-back">
            <div class="menu-item" data-index="0" >
                <img src="../img/index-img/fanHui.png" alt="">
            </div>
        </div>
    </div>
    <div class="payInfo-box"><!--提示错误信息-->
        <img src="../img/error.png" alt="">
    </div>
</div>

<script src="../js/error.js"></script>
</body>
</html>